MONGODB_URI="mongodb+srv://<MONGODB_USERNAME>:<MONGODB_PASSWORD>@<MONGODB_CLUSTER>/<MONGODB_DATABASE>?retryWrites=true&w=majority"
JWT_ACCESS_TOKEN_SECRET=somePrivateKeyForAccessToken
JWT_REFRESH_TOKEN_SECRET=someOtherPrivateKeyForRefreshToken